/* globals.css */

:root {
  --bg-color: #f7f0e6; /* Light beige */
  --text-color: #333333; /* Dark gray text */
}

.dark {
  --bg-color: #2c2c2c; /* Dark beige for dark mode */
  --text-color: #f7f0e6; /* Light beige text for dark mode */
}

/* Import Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
